# Our agent skills are intentionally vendor-agnostic.
# see .agents/skills/README.md
.aider*
.claude/
.cline/
.clinerules
.copilot/
.cursor/
.cursorrules
.openai/
.pi/
.windsurf/
.windsurfrules
copilot-instructions.*
CLAUDE.md

# Our progressive disclosure strategy for agent skills means that content in this file
# is "miscellaneous" at best, so unlikely to add focussed value.
# see .agents/skills/README.md
AGENTS.md

# Most likely a Go distribution (for example, `go1.26.5.darwin-arm64.pkg`), downloaded by the
# local developer in order to upgrade their environment.
*.pkg

# Folders within this repository that support the local developer who wishes to locate
# their own scripts, experiments and other transitory artifacts close to this codebase.
user.transient/
